.scrapbook-container {
    margin: 10px auto;
    min-height: 85vh;
    position: relative;
    width: 100%;
}

.scrapbook-image {
    position: absolute;
    width: 20%;
    border: 10px solid #fff;
    filter: grayscale(100%) blur(2px);
}

.scrapbook-image:hover {
    filter: none;
    border-color: yellow;
    cursor: pointer;
}
