.main-body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #ccc;
    padding-bottom: 50px;
}

.main-bg-logo {
    position: fixed;
    right: 40vw;
    top: 20vh;
}

header {
    padding: 30px 0;
}

header h1 {
    /*text-align: center;*/
    font-size: 5em;
    font-weight: bold;
    color: #fff;
}

header h3 {
    color: #eee;
}